:root{
    --primary-color: #FED100;
    --red-color: #FF352B;
    --white-color: #ffffff;
    --text-color: #333333;
}

/* Fonts Styles */

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

/* Common Styles */

html{
    font-size: 16px;
}

body{
    color: var(--text-color);
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

h1{
    font-size: 4.375rem;
    font-weight: 700;
}

h2{
    font-size: 2.25rem;
    font-weight: 600;
}

h3{
    font-size: 1.5rem;
    font-weight: 500;
}

h4{
    font-size: 1rem;
    font-weight: 500;
}

.container{
    max-width: 82rem;
    margin-inline: auto;
    padding-inline: 2rem;
    overflow: hidden;
}

.burger-menu{
    display: none;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
}

.burger-menu > img{
    width: 2.5rem;
    height: 2.5rem;
}

.btn{
    cursor: pointer;
}

.btn--red{
    background-color: var(--red-color);
}

.btn--primary{
    color: var(--text-color);
    font-size: 1.25rem;
    font-weight: 500;
    background-color: var(--primary-color);
    padding: 0.875rem 4.875rem;
}

.btn-wrapper{
    position: relative;
    display: inline-block;
}

/* Header Styles */

.header{
    background-color: var(--primary-color);
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-block: 2.5rem;
}

.header__logo{
    font-size: 2.25rem;
    font-weight: 600;
    text-transform: uppercase;
}

.header__list{
    display: flex;
    align-items: center;
    gap: 3.125rem;
}

.header__link{
    font-size: 1.125rem;
    font-weight: 500;
}

.header__number{
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: underline;
}

/* Hero Styles */

.hero{
    background-color: var(--primary-color);
    margin-top: -1px;
}

.hero .container{
    background-image: url("../images/hero-image-desktop.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.hero__title{
    max-width: 30rem;
    padding-top: 1.25rem;
}

.hero__subtitle{
    margin-top: 1.75rem;
}

.hero__image{
    display: none;
}

.hero__btn-wrapper{
    margin-top: 3.125rem;
}

.hero__btn{
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
    z-index: 100;
    padding: 1rem 6rem;
}

.hero__btn-wrapper::after{
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0.625rem;
    top: 0.625rem;
    z-index: 90;
    border: 2px solid var(--white-color);
}

.hero__list{
    max-width: 35rem;
    display: flex;
    justify-self: space-between;
    gap: 2.5rem;
    margin-top: 4.625rem;
    padding-bottom: 4rem;
}

.hero__item{
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.hero__item:first-child::before{
    content: url("../images/icons/truck.svg");
}

.hero__item:nth-child(2)::before{
    content: url("../images/icons/trigger-two.svg")
}

.hero__item:last-child::before{
    content: url("../images/icons/money.svg")
}

/* Process Styles */

.process .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.75rem;
    padding-block: 6rem 3.5rem;
}

.process__list{
    max-width: 69.25rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8.375rem;
    row-gap: 3rem;
    margin-inline: auto;
}

.process__item{
    display: flex;
    gap: 2.375rem;
}

.process__item::before{
    width: 3.875rem;
    font-weight: 300;
    font-size: 3.125rem;
    text-shadow: 2px 0px var(--primary-color);
    margin-top: -10px;
}

.process__item:first-child::before{
    content: "01";
}

.process__item:nth-child(2)::before{
    content: "02";
}

.process__item:nth-child(3)::before{
    content: "03";
}

.process__item:last-child::before{
    content: "04";
}

.process__description{
    margin-top: 1rem;
}

/* Prices Styles */

.prices .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 3.5rem;
}

.prices__subtitle{
    text-align: center;
    margin-top: 1rem;
}

.prices__list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    margin-top: 3.75rem;
}

.prices__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.5rem;
    border: 1px solid #EBEBEB;
    padding-block: 5.25rem;
}

.prices__item--active{
    border-color: var(--primary-color);
}

.prices__conditions{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.prices__price{
    font-size: 1.875rem;
    font-weight: 600;
}

.prices__link{
    display: none;
    font-size: 1.5rem;
    font-weight: 500;
    border-bottom: 1px solid var(--text-color);
    margin-top: 1.75rem;
    padding-bottom: 0.5rem;
}

/* Media Queries */

@media (max-width: 1024px) {
    h1{
        font-size: 3.5rem;
    }

    h2{
        font-size: 1.875rem;
    }

    h3{
        font-size: 1.25rem;
    }

    .container{
        padding-inline: 1.5rem;
    }

    .header .container {
        padding-block: 2rem;
    }

    .header__logo{
        font-size: 1.875rem;
    }

    .header__nav{
        display: none;
    }

    .header__number{
        display: none;
    }

    .hero .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }

    .hero__title{
        text-align: center;
    }
    
    .hero__subtitle{
        margin-top: 0.5rem;
    }

    .hero__image{
        width: 25rem;
        height: auto;
        display: block;
        margin-left: 12rem;
    }

    .hero__btn-wrapper{
        margin-top: 0;
    }

    .hero__list{
        margin-top: 2.75rem;
        padding-bottom: 3rem;
    }

    .process .container{
        gap: 3.25rem;
        padding-bottom: 12.75rem;
    }

    .process__list{
        grid-template-columns: 1fr;
    }

    .prices{
        background-color: #F8FBFF;
    }

    .prices__list{
        grid-template-columns: 1fr;
        margin-top: 2.75rem;
    }

    .prices__item{
        gap: 2rem;
        border-color: transparent;
        padding-block: 0;
    }

    .prices__item:first-child{
        display: none;
    }

    .prices__item:last-child{
        display: none;
    }

    .prices__conditions{
        gap: 1.5rem;
    }

    .prices__link{
        display: block;
    }

    .burger-menu{
        display: flex;
    }
}

@media (max-width: 600px) {
    h1{
        font-size: 1.75rem;
    }

    h2{
        font-size: 1.125rem;
    }

    h3{
        font-size: 1rem;
    }

    .container{
        padding-inline: 1rem;
    }

    .header .container {
        padding-block: 1.5rem;
    }

    .header__logo{
        font-size: 1.5rem;
    }

    .hero__title{
        max-width: 12rem;
        padding-top: 1rem;
    }

    .hero__btn-wrapper{
        margin-bottom: 2.5rem;
    }

    .hero__btn-wrapper::after{
        display: none;
    }

    .hero__list{
        display: none;
    }

    .process .container{
        gap: 1.75rem;
        padding-block: 4rem 3rem;
    }

    .process__subtitle{
        font-size: 1rem;
    }

    .process__list{
        row-gap: 1.25rem;
    }

    .process__item{
        gap: 1rem;
    }

    .process__item::before{
        margin-top: 0;
    }

    .process__item > div{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    .process__item > div::after{
        content: url("../images/icons/arrow-bottom.svg")
    }

    .process__description {
        display: none;
    }

    .prices .container{
        padding-block: 2rem;
    }

    .prices__list{
        margin-top: 1.25rem;
    }

    .prices__item{
        gap: 1.5rem;
    }

    .prices__link{
        font-size: 1rem;
        margin-top: 1.25rem;
        padding-bottom: 0.25rem;
    }
}